<div class="px-4 py-5 my-2 text-center">
  <h1 class="display-5 fw-bold">I nostri fantastici insegnanti</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Questi sono i nostri insegnanti, ognuno può aiutarti nelle materie che vedi nella sua scheda. Per iniziare un corso con lui, clicca sul suo nome e poi mandagli un messaggio!</p>
  </div>
</div>
<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
  <% @users.each do |utente| %>
    <% if utente.has_role? :teacher and current_user != utente %>
      <div class="col mb-3">
        <div class="card border-dark h-100">
          <div class="card-header text-center"><%= link_to utente.nome, utente %></div>
          <div class="row g-0">
            <div class="col-6">
              <% if utente.avatar.attached? %>
                <%= image_tag(utente.avatar_thumbnail, class: " rounded-start p-2") %>
              <% else %>
                <%= image_tag("user.png", class: " rounded-start p-2", height: "120", widht: "120") %>
              <% end %>
            </div>
            <div class="col-6">
              <div class="card-body">
                <% utente.subjects.each do |materia| %>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <%=link_to materia.name, materia%>
                    </li>
                  </ul>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
