<h1>Controllo risorse del Sito</h1>



<p><%= link_to "vedi tutte le materie", "/subjects"%></p>
<p><%= link_to "vedi tutte le users", "/users/index"%></p>
<p><%= link_to "vedi tutti i corsi", "/courses"%></p>
<% if user_signed_in?%>
  <% if current_user.has_role? :admin %>
<p><%= link_to "vedi tutti i insegnamenti", "/teaches"%></p>
  <% end %>
<% end %>



<% if user_signed_in?%>
<% if current_user.has_role? :admin %>
  <p>Tu sei un admin</p>
<% elsif current_user.has_role? :teacher %>
 <p>Tu sei un teacher</p>
 <% elsif current_user.has_role? :student %>
  <p>Tu sei uno student</p>
<% else %>
  <p>tu sei nulla</p>
<% end %>
<% else %>
<p>non sei entrato</p>
<% end %>
