<%= form_with(model: subject) do |form| %>
  <% if subject.errors.any? %>
    <div class="row">
      <div class="col-6">
        
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong> Nome già in uso</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
          </div>
        
      </div>
    </div >
  <% end %>
  <div class="field">
    <%= form.label  :name, value: "Nome"%>
    <%= form.text_field :name %>
  </div>
  <div class="actions">
    <%= form.submit "Aggiungi"%>
  </div>
<% end %>
